[submodule "yanel_dsp"]
	path = yanel_dsp
	url = https://github.com/backtail/yanel_dsp
[submodule "embedded-audio-tools"]
	path = embedded-audio-tools
	url = https://github.com/backtail/embedded-audio-tools
[submodule "nih-plug"]
	path = nih-plug
	url = https://github.com/robbert-vdh/nih-plug.git
